In [5]:
import pandas as pd

# Rutas a los archivos de Excel
file_paths = {
    'p202504': "C:\\Users\\ArnaldoCarrasco\\Downloads\\p202505.xlsx",
    'ffmm202504':     "C:\\Users\\ArnaldoCarrasco\\Downloads\\ffmm202505.xlsx",
    'cb202504':       "C:\\Users\\ArnaldoCarrasco\\Downloads\\cb202505.xlsx"
}

# Función que procesa un DataFrame: melt, conversión de datos, eliminación de 0 y cálculo de Importe_Neto.
def procesar_df(df):
    # Realiza el melt: se utiliza las columnas 'CODIGO', 'DESCRIP' e 'importe unitario' como id_vars.
    df_melted = df.melt(
        id_vars=['Codigo', 'Descrip', 'importe unitario'],
        var_name='Punto de Venta',
        value_name='Cantidad'
    )
    # Rellenar NaN, convertir a entero y eliminar filas con Cantidad 0
    df_melted['Cantidad'] = df_melted['Cantidad'].fillna(0).astype(int)
    df_melted = df_melted[df_melted['Cantidad'] != 0]

    # Calcular columna Importe_Neto
    df_melted = df_melted.assign(Importe_Neto = df_melted['importe unitario'] * df_melted['Cantidad'])
    return df_melted

# Diccionario para almacenar los DataFrame después del melt
dfs_melted = {}

# Procesamiento de cada archivo
for key, path in file_paths.items():
    df = pd.read_excel(path)
    print(f"Archivo '{key}' cargado con éxito.")
    dfs_melted[key] = procesar_df(df)

# Renombrar DataFrames según convención: nombre variable + "_melted"
prestige_melted = dfs_melted['p202504']
ffmm_melted     = dfs_melted['ffmm202504']
cb_melted       = dfs_melted['cb202504']

# Concatenar los tres DataFrames en uno final
pigmento_enero = pd.concat([prestige_melted, ffmm_melted, cb_melted], ignore_index=True)

# Mostrar el DataFrame final
pigmento_enero["Fecha"]="01/05/2025"

Archivo 'p202504' cargado con éxito.
Archivo 'ffmm202504' cargado con éxito.
Archivo 'cb202504' cargado con éxito.

In [6]:
pigmento_enero

,Codigo,Descrip,importe unitario,Punto de Venta,Cantidad,Importe_Neto,Fecha
0,883001004437,CK BE EDT VAP 200M,193000.0,JMR-2524,1,193000.0,01/05/2025
1,3616305433770,.CK ONE EDT\200M N24,212300.0,BRO-3058,2,424600.0,01/05/2025
2,3616301781127,CK EVERYONE EDP 100M,179685.0,BRO-3058,1,179685.0,01/05/2025
3,88300107438,CK ONE EDT 200M,212300.0,BRO-3058,2,424600.0,01/05/2025
4,7795646160029,COOL WATER MEN EDT 125M,163350.0,BRO-3058,1,163350.0,01/05/2025
...,...,...,...,...,...,...,...
12930,3616306161726,RIMMEL RUBOR/BRONZ MULT/TASK02,24750.0,LAR-1326,2,49500.0,01/05/2025
12931,3616306373112,RIMMEL RUBOR/BRONZ MULT/TASK03,24750.0,LAR-1326,3,74250.0,01/05/2025
12932,3614224525118,RIMMEL SOMBRA MAGN/PALE 01,30230.0,LAR-1326,2,60460.0,01/05/2025
12933,3614224525125,RIMMEL SOMBRA MAGN/PALE 02,30230.0,LAR-1326,1,30230.0,01/05/2025
12934,3616305705174,RIMMEL SPRAY/BRUMA MULTI TASK,19520.0,LAR-1326,2,39040.0,01/05/2025

In [51]:
file_paths = {
    'p202502': "C:\\Users\\ArnaldoCarrasco\\Downloads\\p202502.xlsx",
    'ffmm202502':     "C:\\Users\\ArnaldoCarrasco\\Downloads\\ffmm202502.xlsx",
    'cb202502':       "C:\\Users\\ArnaldoCarrasco\\Downloads\\cb202502.xlsx"
}

# Función que procesa un DataFrame: melt, conversión de datos, eliminación de 0 y cálculo de Importe_Neto.
def procesar_df(df):
    # Realiza el melt: se utiliza las columnas 'CODIGO', 'DESCRIP' e 'importe unitario' como id_vars.
    df_melted = df.melt(
        id_vars=['Codigo', 'Descrip', 'importe unitario'],
        var_name='Punto de Venta',
        value_name='Cantidad'
    )
    # Rellenar NaN, convertir a entero y eliminar filas con Cantidad 0
    df_melted['Cantidad'] = df_melted['Cantidad'].fillna(0).astype(int)
    df_melted = df_melted[df_melted['Cantidad'] != 0]

    # Calcular columna Importe_Neto
    df_melted = df_melted.assign(Importe_Neto = df_melted['importe unitario'] * df_melted['Cantidad'])
    return df_melted

# Diccionario para almacenar los DataFrame después del melt
dfs_melted = {}

# Procesamiento de cada archivo
for key, path in file_paths.items():
    df = pd.read_excel(path)
    print(f"Archivo '{key}' cargado con éxito.")
    dfs_melted[key] = procesar_df(df)

# Renombrar DataFrames según convención: nombre variable + "_melted"
prestige_melted = dfs_melted['p202502']
ffmm_melted     = dfs_melted['ffmm202502']
cb_melted       = dfs_melted['cb202502']

# Concatenar los tres DataFrames en uno final
pigmento_febrero = pd.concat([prestige_melted, ffmm_melted, cb_melted], ignore_index=True)
# pigmento_febrero=prestige_melted
# Mostrar el DataFrame final
pigmento_febrero["Fecha"]="01/02/2025"

Archivo 'p202502' cargado con éxito.
Archivo 'ffmm202502' cargado con éxito.
Archivo 'cb202502' cargado con éxito.

In [52]:
pigmento_febrero

,Codigo,Descrip,importe unitario,Punto de Venta,Cantidad,Importe_Neto,Fecha
0,88300107438,CK ONE EDT 200M,1396.710526,JMR-2524,1,1396.710526,01/02/2025
1,3616305433770,.CK ONE EDT\200M N24,19300.000000,BRO-3058,1,19300.000000,01/02/2025
2,883001004437,CK BE EDT VAP 200M,8391.304348,BRO-3058,1,8391.304348,01/02/2025
3,88300196876,CK IN2U WOMEN EDT 150M,10872.012778,BRO-3058,1,10872.012778,01/02/2025
4,3616303473396,CK ONE ESSENCE EDT 100M,2505.066667,BRO-3058,1,2505.066667,01/02/2025
...,...,...,...,...,...,...,...
11361,3607342512573,RIMMEL POLVO VOLAT/SILK/LO 001,24182.000000,LAR-1326,1,24182.000000,01/02/2025
11362,3614226985835,RIMMEL RUBOR MAXI BLUSH 001,19628.000000,LAR-1326,1,19628.000000,01/02/2025
11363,3614224525118,RIMMEL SOMBRA MAGN/PALE 01,30228.000000,LAR-1326,1,30228.000000,01/02/2025
11364,3614224525125,RIMMEL SOMBRA MAGN/PALE 02,30228.000000,LAR-1326,1,30228.000000,01/02/2025
11365,2051153199903,RIMMEL/MASC K&F/BLACK 001 OBS,17300.000000,LAR-1326,2,34600.000000,01/02/2025

In [47]:
# Concatenar los tres DataFrames en uno final
pigmento_final = pd.concat([pigmento_enero,pigmento_febrero], ignore_index=True)

# Mostrar el DataFrame final
pigmento_febrero['Codigo'] = pigmento_febrero['Codigo'].fillna(0)
pigmento_febrero['Codigo'] = pigmento_febrero['Codigo'].astype(int)
pigmento_febrero

,Codigo,Descrip,importe unitario,Punto de Venta,Cantidad,Importe_Neto,Fecha
19,-1894205778,CK ONE EDT 200M,3.229945e+09,JMR-2524,1,3.229945e+09,01/02/2025
84,-57029462,.CK ONE EDT\200M N24,2.513920e+07,BRO-3058,1,2.513920e+07,01/02/2025
86,-1762258539,CK BE EDT VAP 200M,6.957995e+07,BRO-3058,1,6.957995e+07,01/02/2025
99,-1894116340,CK IN2U WOMEN EDT 150M,4.375992e+07,BRO-3058,1,4.375992e+07,01/02/2025
102,-58989836,CK ONE ESSENCE EDT 100M,7.783188e+08,BRO-3058,1,7.783188e+08,01/02/2025
...,...,...,...,...,...,...,...
6094,-2133076176,COOL WATER MEN EDP 50M,5.633801e+06,LAR-1326,1,5.633801e+06,01/02/2025
6095,-2133076183,COOL WATER MEN EDP 100M,2.992483e+07,LAR-1326,1,2.992483e+07,01/02/2025
6098,-60424851,COOL WATER REBORN MEN EDT 125M,2.613600e+05,LAR-1326,1,2.613600e+05,01/02/2025
6104,-424963319,COOL WATER WOMAN EDT 200M,1.305080e+08,LAR-1326,1,1.305080e+08,01/02/2025
6143,-2132639456,HB HUGO M/EDT 200M,2.963333e+05,LAR-1326,1,2.963333e+05,01/02/2025